
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.menu {
    margin: 0 auto;
    font-size: 19px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    margin: 0 10px;
}